@import "tailwindcss";
@source inline("{bg,text,border}-{green,teal,orange}-{20,40,50,60,80,100}");
@source inline("text-{text,muted-text,disabled-text,link-text,secondary-link-text}");

/* Brand palette */
:root {
  /* greens */
  --mcda-green-100: #354C1A;
  --mcda-green-80:  #4F7326;
  --mcda-green-60:  #699933;
  --mcda-green-50:  #ABD47D;  /* "green" base color */
  --mcda-green-40:  #B5D98C;
  --mcda-green-20:  #CEE6B2;

  /* deep teal */
  --mcda-teal-100:  #133933;
  --mcda-teal-80:   #206055;
  --mcda-teal-60:   #267366;
  --mcda-teal-50:   #2E8A7A;  /* "deep teal" base color */
  --mcda-teal-40:   #39AC99;
  --mcda-teal-20:   #66CCBB;

  /* orange */
  --mcda-orange-100: #662700;
  --mcda-orange-80:  #CC4E00;
  --mcda-orange-60:  #FF6200;
  --mcda-orange-50:  #FF8B42; /* "orange" base color */
  --mcda-orange-40:  #FFA166;
  --mcda-orange-20:  #FFC099;

  /* grays */
  --mcda-gray-60: #050505;
  --mcda-gray-50: #1F1F1F;  /* "dark gray" base color */
  --mcda-gray-40: #4D4D4D;
  --mcda-gray-20: #666666;

  /* whites */
  --mcda-white-100: #8C8C8C;
  --mcda-white-80: #B2B2B2;
  --mcda-white-60: #D9D9D9;
  --mcda-white-50: #FFFFFF;
  --mcda-offwhite: #FAFAFA;

  /* Extras from your tokens */
  --mcda-section-bg: #D9F2EE;
  --mcda-header-2:   #9CCC66;
}

@theme {
  /* fonts */
  --font-sans: var(--font-work-sans), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

  /* typography */
  --text-h1: 2.125rem;  /* 34px in Figma wireframe */ 
  --text-h1--line-height: 1.2;
  --text-h1--font-weight: 700;  /* bold */

  --text-h2: 1.6875rem; /* 27px in Figma wireframe */
  --text-h2--line-height: 1.25;
  --text-h2--font-weight: 700;  /* bold */

  --text-h3: 1.25rem; /* 20px in Figma wireframe */
  --text-h3--line-height: 1.3;
  --text-h3--font-weight: 600;  /* semibold */

  --text-h4: 1rem;  /* 16px in Figma wireframe */
  --text-h4--line-height: 1.35;
  --text-h4--font-weight: 500;  /* medium */

  /* Body & links */
  --text-body-md: 0.9375rem;  /* 15px in Figma wireframe */
  --text-body-md--line-height: 1.6;
  --text-body-md--font-weight: 500; /* medium */

  --text-body: 0.84375rem;  /* 13.5px in Figma wireframe */
  --text-body--line-height: 1.6;
  --text-body--font-weight: 400;  /* regular */

  --text-link: 0.8125rem; /* 13px in Figma wireframe */
  --text-link--line-height: 1.5;
  --text-link--font-weight: 500;  /* medium */

  --text-body-sm: 0.71875rem; /* 11.5px in Figma wireframe */
  --text-body-sm--line-height: 1.5;
  --text-body-sm--font-weight: 400; /* regular */

  --text-button: 0.875rem;  /* 14px in Figma wireframe */
  --text-button--line-height: 1.2;
  --text-button--font-weight: 500;  /* medium */


  /* brand colors */
  --color-green-20: var(--mcda-green-20);
  --color-green-40: var(--mcda-green-40);
  --color-green-50: var(--mcda-green-50);
  --color-green-60: var(--mcda-green-60);
  --color-green-80: var(--mcda-green-80);
  --color-green-100: var(--mcda-green-100);

  --color-teal-20: var(--mcda-teal-20);
  --color-teal-40: var(--mcda-teal-40);
  --color-teal-50: var(--mcda-teal-50);
  --color-teal-60: var(--mcda-teal-60);
  --color-teal-80: var(--mcda-teal-80);
  --color-teal-100: var(--mcda-teal-100);

  --color-orange-20: var(--mcda-orange-20);
  --color-orange-40: var(--mcda-orange-40);
  --color-orange-50: var(--mcda-orange-50);
  --color-orange-60: var(--mcda-orange-60);
  --color-orange-80: var(--mcda-orange-80);
  --color-orange-100: var(--mcda-orange-100);

  --color-gray-20: var(--mcda-gray-20);
  --color-gray-40: var(--mcda-gray-40);
  --color-gray-50: var(--mcda-gray-50);
  --color-gray-60: var(--mcda-gray-60);

  --color-white-100: var(--mcda-white-100);
  --color-white-80: var(--mcda-white-80);
  --color-white-60: var(--mcda-white-60);
  --color-white-50: var(--mcda-white-50);
  --color-offwhite: var(--mcda-offwhite);


  /* colors for bg & fg*/
  --color-background: var(--mcda-offwhite); /* used 70% of the time - for page bg */
  --color-foreground: var(--mcda-gray-50);  /* default text */


  /* primary brand colors */
  --color-primary: var(--mcda-green-50); /* used 20% of the time - for most elements*/
  --color-secondary: var(--mcda-orange-50); /* used 8% of the time - for CTAs */
  --color-accent: var(--mcda-teal-50); /* used 2% of the time - for element borders (when appropriate) */


  /* colors for text (& section bg too, i guess) */
  --color-header-1: var(--mcda-green-60);
  --color-header-2: var(--mcda-header-2);
  --color-section-bg: var(--mcda-section-bg);

  --color-text: var(--mcda-gray-50);
  --color-muted-text: var(--mcda-gray-40);
  --color-disabled-text: var(--mcda-gray-20);

  --color-link-text: var(--mcda-gray-60);
  --color-secondary-link-text: var(--mcda-green-60);
  --color-hero-text: var(--mcda-white);


  /* buttons */
  --color-primary-button: var(--mcda-orange-50);
  --color-primary-button-hover: var(--mcda-orange-40);
  --color-primary-button-focused: var(--mcda-orange-60);

  --color-secondary-button: var(--mcda-teal-50);
  --color-secondary-button-hover: var(--mcda-teal-40);
  --color-secondary-button-focused: var(--mcda-teal-60);

  --color-button-text: var(--mcda-gray-60);
  --color-secondary-button-text: var(--mcda-white);

  
  /* misc. elements w/ "surfaces" */
  --color-card: var(--mcda-white-50);
  --color-card-border: var(--mcda-teal-40);
  --color-table-border: var(--mcda-green-40);
  --color-table-header: var(--mcda-green-60);
  --color-table-cells: var(--mcda-white-50);
  --color-table-text: var(--mcda-gray-50);
  --color-table-cell-divider: var(--mcda-teal-20);
  --color-table-cells-caption: var(--mcda-green-50);

  --color-input-bg: var(--color-card);
  --color-input-hint: var(--color-muted-text);
}

/* utilities */
/* headings - applies to text elements */
@utility heading-1 { @apply text-h1 text-header-1; }
@utility heading-2 { @apply text-h2 text-header-2; }

/* drop shadows - applies universally */
@utility shadow-elev-400 { box-shadow: 0 8px 16px -2px rgb(0 0 0 / 0.20) }
@utility shadow-elev-300 { box-shadow: 0 4px 4px -1px rgb(0 0 0 / 0.20); }
@utility shadow-elev-200 { box-shadow: 0 4px 4px -1px rgb(0 0 0 / 0.10); }

/* sections */
@utility section { @apply bg-section-bg border-t-2 border-b-2 border-teal-20 }

/* inputs */
@utility field { @apply w-full min-w-35 bg-input-bg rounded-md border-1 border-card-border px-4 py-2 text-body-md placeholder:text-input-hint shadow-elev-200 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-teal-50 }
@utility textarea { @apply w-full bg-input-bg rounded-md border-1 border-card-border px-3 py-2 text-body-md placeholder:text-input-hint shadow-elev-200 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-teal-50 }

/* buttons */
@utility btn { @apply inline-flex items-center justify-center gap-2 rounded-full px-3 py-2 text-button font-[var(--text-button--font-weight)] transition-shadow duration-150 shadow-elev-300 hover:shadow-elev-400 select-none; }

/* primary (fill with... secondary color.) */
@utility btn-primary {
  @apply btn bg-primary-button text-button-text hover:bg-primary-button-hover focus-visible:bg-primary-button-focused hover:scale-[1.03] focus-visible:scale-[1.03] disabled:pointer-events-none disabled:saturate-75;
}

/* secondary (fill with accent color) */
@utility btn-secondary {
  @apply btn bg-secondary-button text-white hover:bg-secondary-button-hover focus-visible:bg-secondary-button-focused hover:scale-[1.03] focus-visible:scale-[1.03] disabled:pointer-events-none disabled:saturate-75;
}

/* Secondary outline (transparent fill + teal border) */
@utility btn-secondary-outline {
  @apply btn bg-secondary-button text-white border border-white hover:bg-secondary-button-hover focus-visible:bg-teal-50/15 hover:scale-[1.03] focus-visible:scale-[1.03] disabled:pointer-events-none disabled:saturate-75;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
